.item {
    width: 90%;
    height: 500px;
    border-radius: .625rem;
    box-shadow: .1rem .1rem .6rem lightgrey;
    margin-top: 1.4rem;
    position: relative;
    overflow: hidden;
}

.description {
    width: var(--w100);
    position: absolute;
    left: 0;
    bottom: -20%;
    transition: bottom .3s;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background: linear-gradient(
            180deg,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%
    );
}

.itemHeading {
    color: white;
    font-size: 2.6rem;
    margin: 0 0 1rem 0;
}

.stripe {
    position: relative;
    left: -5%;
    width: 0;
    height: 5px;
    background-color: var(--tropical-color);
    margin-bottom: 1rem;
    transition: width 0.6s;
}

.text {
    color: white;
    font-size: 1.6rem;
    margin: 0.1rem 0 0.5rem;
}

.descriptionFadeIn {
    opacity: 0;
    transition: opacity 1.4s;
    transition-delay: 0.6s;
    padding-bottom: 1rem;
}

.item:hover {
    background-size: 90%;
}

.item:hover .description {
    bottom: 0;
}

.item:hover .descriptionFadeIn {
    opacity: 1;
}

.item:hover .stripe {
    width: 50%;
    transition-delay: 0.1s;
}

.item:not(:hover) .stripe {
    width: 0;
}