.photoContainer {
    position: relative;
    width: 200px;
    height: 200px;
}

.profileContainer, .venuesContainer {
    display: var(--flex);
    flex-direction: var(--flex-column);
    align-items: var(--flex-center);
    border-bottom: 3px solid royalblue;
}

.actionContainer {

}

.actionList {
    display: var(--flex);
    list-style-type: none;
    padding: 0;
}

.action {
    margin: .5rem;
}