.registerContainer {
    display: var(--flex);
    flex-direction: var(--flex-column);
    align-items: var(--flex-center);
    margin-top: 1.1rem;
}

.newHereContainer {
    width: var(--w100);
    text-align: center;
}

.newHere {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--orange-color-1);
}

.registerBtn {
    width: 4rem;
    display: var(--flex);
    align-items: var(--flex-center);
    justify-content: var(--flex-center);
    border-radius: var(--border-radius-625);
    height: 2.7rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--black-background);
    border: 1px solid var(--general-btn-border-color);
}

.newHere::before,
.newHere::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 25%;
    height: .1rem;
    background-color: var(--orange-color-1);
}
.newHere::before {
    left: 0;
}

.newHere::after {
    right: 0;
}

@media(min-width: 768px) {
    .registerBtn:hover {
        background-color: var(--white-foreground);
        color: var(--black-color);
    }
}