.navigation {

}

.ul {
    display: var(--flex);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li {
    margin: 0 .5rem;
}

.li > a {
    text-decoration: none;
}

.mobileNav {
    width: 65%;
    height: 100%;
    background-color: white;
    animation: moveIn .5s ease-in-out forwards;
}

@keyframes moveIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.mobile {
    width: var(--w100);
    flex-direction: var(--flex-column);
    margin-top: 2.2rem;
}

.mobile > li {
    margin-top: 3rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.mobile > li a {
    display: var(--flex);
    align-items: var(--flex-center);
}

.mobile > li > a span {
    margin-left: 1rem;
}

.mobileIcon {
    font-size: 2.5rem;
}

.desktop {
    flex-direction: row;
}