.container {
    height: 10%;
    min-height: 5rem;
    position: sticky;
    display: var(--flex);
    align-items: var(--flex-center);
    justify-content: space-between;
    background: hsla(0,0%,100%,.8);
    top: 0;
    backdrop-filter: saturate(180%) blur(5px);
    padding: 0 .5rem;
    z-index: 3333;
}

.headerBorderOnScroll {
    box-shadow: inset 0 -1px 0 0 #eaeaea;
}

.heading {
    font-size: 1.5rem;
    margin: 0;
}

.navigation {

}

.ul {
    display: var(--flex);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li {
    margin: 0 .5rem;
}

.li > a {
    text-decoration: none;
}

.burgerBtn {
    border: none;
    background-color: transparent;
}

.burgerBtn > .burgerIcon {
    font-size: 3.2rem;
}

.overflow {
    overflow-y: hidden;
}